/*
The provided mixins are intended to be used with variables directly

.icon-home {
	@include sprite-width($icon-home);
}


.icon-email {
	@include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
	but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
/* =Enable Fonts
============================================================================ */
/* ==========================================================================
   Mixines
============================================================================ */
/* =Gradients 
============================================================================ */
/* =Other
============================================================================ */
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 480px) {
    .container {
      width: 760px; } }
  @media (min-width: 768px) {
    .container {
      width: 970px; } }
  @media (min-width: 992px) {
    .container {
      width: 1180px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -20px;
  margin-right: -20px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 480px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@-ms-viewport {
  width: device-width; }

.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 479px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 479px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 479px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 479px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 992px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 992px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 992px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 479px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/awesome/fontawesome-webfont.eot?v=4.6.3);
  src: url(../fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.6.3) format("embedded-opentype"), url(../fonts/awesome/fontawesome-webfont.woff2?v=4.6.3) format("woff2"), url(../fonts/awesome/fontawesome-webfont.woff?v=4.6.3) format("woff"), url(../fonts/awesome/fontawesome-webfont.ttf?v=4.6.3) format("truetype"), url(../fonts/awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal; }

/* ==========================================================================
   Formatting
============================================================================= */
/* ==========================================================================
	Global
============================================================================= */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* Headings
============================================================================= */
h1 {
  font-size: 48px; }
  @media (max-width: 767px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 40px; }
  @media (max-width: 767px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

hr {
  background-color: #818587;
  margin: 20px 0;
  border: 0 none;
  height: 1px; }

/* Text elements
============================================================================= */
p {
  margin-bottom: 22px; }

a {
  text-decoration: underline;
  cursor: pointer;
  zoom: 1;
  background: none;
  border: none;
  color: #262626; }
  a:hover {
    text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0 none !important; }

/* Helpers */
.fl_l {
  float: left; }

.fl_r {
  float: right; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

img {
  max-width: 100%;
  height: auto; }

/* Default Text elements
============================================================================= */
ul, ol {
  margin: 0 0 18px 27px; }

ul {
  list-style: disc; }

ol {
  list-style-type: decimal; }

ol ol {
  list-style: upper-alpha; }

ol ol ol {
  list-style: lower-roman; }

ol ol ol ol {
  list-style: lower-alpha; }

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0; }

dl {
  margin: 0 1.625em; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 1.625em; }

strong {
  font-weight: bold; }

cite, em, i {
  font-style: italic; }

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 21px;
  font-style: italic;
  display: block;
  clear: both;
  padding: 10px 15px 10px 20px; }

blockquote em,
blockquote i,
blockquote cite,
blockquote p {
  font-style: italic; }

blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

pre {
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em; }

code, kbd {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym, dfn {
  border-bottom: 1px dotted #666;
  cursor: help; }

address {
  display: block;
  margin: 0 0 1.625em; }

ins {
  background: #FFD800;
  text-decoration: none;
  color: #462C00; }

sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

b,
strong {
  font-weight: bold; }

/* User Formatting
============================================================================= */
.post-content blockquote {
  width: 100%;
  max-width: 854px;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
  margin: 0 auto;
  color: #70a736; }
  .post-content blockquote:before, .post-content blockquote:after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%); }
  .post-content blockquote:before {
    left: 0; }
  .post-content blockquote:after {
    right: 0; }
  .post-content blockquote p {
    margin: 17px 0; }
  @media (max-width: 550px) {
    .post-content blockquote {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 1px;
      padding-bottom: 1px; }
      .post-content blockquote:after, .post-content blockquote:before {
        display: none; } }

.post-content table {
  border: 1px solid #dfdfdf;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0; }
  .post-content table.full {
    width: 100%; }
  .post-content table caption {
    margin-bottom: 10px; }
  .post-content table th {
    font-weight: bold;
    padding: 6px 6px;
    vertical-align: middle;
    border: 1px solid #dfdfdf; }
  .post-content table td {
    border: 1px solid #dfdfdf;
    padding: 6px 6px;
    vertical-align: middle; }
  .post-content table.nostyle {
    border: none; }
    .post-content table.nostyle th,
    .post-content table.nostyle td {
      border: none;
      padding: 4px 0 5px; }

.post-content .alignright {
  float: right; }

.post-content .alignleft {
  float: left; }

.post-content img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 11px; }
  .post-content img.alignright {
    display: inline;
    margin-left: 3.3%; }
  .post-content img.alignleft {
    display: inline;
    margin-right: 3.3%;
    margin-top: 3px; }
  .post-content img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.post-content .wp-caption {
  border: 1px solid #e9e9ea;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 11px; }
  .post-content .wp-caption img {
    margin-top: 0;
    margin-bottom: 7px; }
  .post-content .wp-caption.alignleft {
    margin-right: 3.3%;
    margin-top: 3px; }
  .post-content .wp-caption.alignright {
    margin-left: 3.3%;
    margin-top: 3px; }
  .post-content .wp-caption.aligncenter {
    margin-right: auto;
    margin-left: auto; }
  .post-content .wp-caption p {
    margin-bottom: 5px; }

.post-content ul {
  list-style-type: square; }

.post-content ul,
.post-content ol {
  margin-left: 30px;
  margin-bottom: 20px; }
  .post-content ul li,
  .post-content ol li {
    position: relative; }
  .post-content ul ul,
  .post-content ul ol,
  .post-content ol ul,
  .post-content ol ol {
    margin-top: 3px;
    margin-bottom: 3px; }

.post-content iframe {
  margin: 0 auto 20px;
  display: block;
  z-index: 1; }

html, body {
  height: 100%; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  line-height: 1.42857;
  color: #262626;
  font-size: 16px;
  background-color: #fff; }

#page {
  width: 100%;
  min-height: 100%; }
  @media (max-width: 767px) {
    #page {
      padding-right: 0; } }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
  /* @include screen( phone ) {
		$max-width: $wrapper + $window-border * 2;
		max-width: $max-width;
		padding-right: $window-border;
	} */ }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper.row {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0; }

.wrapper-header-footer {
  max-width: 1240px; }

.row-inline > * {
  display: inline-block;
  vertical-align: top;
  float: none; }

.row-flex {
  -ms-flex-align: stretch;
      align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  html.no-flexbox .row-flex > * {
    display: inline-block;
    vertical-align: top;
    float: none; }
  .row-flex:before {
    display: none; }

@media (min-width: 1200px) {
  .col-lg-20-persents {
    width: 20%; } }

@media (min-width: 992px) {
  .col-md-20-persents {
    width: 20%; } }

@media (min-width: 768px) {
  .col-sm-20-persents {
    width: 20%; } }

@media (min-width: 480px) {
  .col-xs-20-persents {
    width: 20%; } }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: none;
        touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 2000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

#site-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); }
  #site-header .wrapper {
    height: 72px; }
  #site-header .header-price-link {
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 20px;
    top: 15px;
    border: 1px solid #b3b3b3;
    display: block;
    padding: 10px;
    text-decoration: none; }
    #site-header .header-price-link:hover {
      background-color: #b3b3b3;
      color: #fff; }
  #site-header .header-contacts {
    position: absolute;
    top: 17px;
    font-size: 14px;
    right: 20px; }
    #site-header .header-contacts:before {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22svg663%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E.st0%7Bfill%3A%23262626%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M21.2%203.2c.1%200%20.1.1.1.2v.1l4.6%2012.3v.2c-.6.4-.9%201.3-.6%202%20.3.6.8.9%201.4.9.2%200%20.5%200%20.7-.1%201.6-.8%201.9-2.6%201.4-4L24.3%202.4C23.8.7%2022.6-.1%2020.9%200c-.9.1-1.5.8-1.4%201.7%200%20.9.8%201.5%201.7%201.5z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M38.5%2040.2c-.3-.3-.7-.5-1.1-.5-.4%200-.8.2-1.1.5-.3.3-.5.5-.7.8-.3.4-.6.6-1.1%201-.4.3-.9.1-1.2-.4L20.9%2022.9c-.3-.5-.3-1.3.1-1.5.5-.3.6-.4.9-.5.2-.1.6-.2%201.1-.4.8-.3%201.2-1.2.9-2L17.7%202.4c-.2-.4-.5-.7-.9-.9s-.9-.2-1.3%200c-2.1%201-4%202.2-5.7%203.9-1.8%201.8-3.6%204.3-4.3%206-.1.2-.1.5-.1.7.5%206.8%205%2017.6%2011.3%2027%206.2%209.2%2014.6%2017.8%2020.6%2020.8.2.1.5.2.7.2%202.3%200%205.4-1.2%206.6-1.7%202.3-1%204.6-2.4%205.8-3.6.3-.3.5-.7.5-1.1s-.2-.8-.5-1.2L38.5%2040.2zm4.9%2015.2c-1.9.8-3.8%201.4-5%201.5-5.4-2.9-13.4-11-19-19.5-5.9-8.9-10.2-18.8-10.8-25.2.6-1.2%202-3.1%203.5-4.6%201-1%202.1-1.8%203.3-2.5l5%2012.9c-.3.1-.6.3-1.1.6-1.9%201.2-2.3%204-1%205.9l12.4%2018.6c.8%201.2%202.1%201.9%203.5%201.9.8%200%201.5-.2%202.2-.7.5-.3.9-.7%201.2-.9l9.6%209.7c-1.1.9-2.4%201.7-3.8%202.3z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M53.8%2047.1l-.1-.1-9.6-9.4c-1.1-1-3-1.5-4.3-.2-.6.6-.7%201.6-.1%202.2.5.6%201.5.7%202.1.2%200%200%20.1%200%20.1.1l9.5%209.3c0%20.1.1.3%200%20.5-.4.8-.1%201.7.6%202.2.2.1.5.2.8.2.6%200%201.1-.3%201.4-.8.6-1.4.5-3.1-.4-4.2z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none;
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 5px;
      left: -48px;
      z-index: 10;
      animation: phone .9s ease-in-out infinite; }
    #site-header .header-contacts:after {
      content: '';
      position: absolute;
      display: block;
      width: 52px;
      height: 52px;
      border: 2px solid #70bd45;
      border-radius: 50%;
      top: -5px;
      left: -58px; }
    #site-header .header-contacts a {
      text-decoration: none;
      display: inline-block;
      position: relative;
      padding-right: 22px; }
      #site-header .header-contacts a:hover {
        text-decoration: underline; }
      #site-header .header-contacts a.mts:after {
        background-image: url(../images/icons/mts.png);
        background-repeat: no-repeat;
        background-position: 0 0; }
        @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          #site-header .header-contacts a.mts:after {
            background-image: url(../images/icons/mts@2x.png); } }
      #site-header .header-contacts a.velcome:after {
        background-image: url(../images/icons/velcome.png);
        background-repeat: no-repeat;
        background-position: 0 0; }
        @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          #site-header .header-contacts a.velcome:after {
            background-image: url(../images/icons/velcome@2x.png); } }
      #site-header .header-contacts a.mts:after, #site-header .header-contacts a.velcome:after {
        content: '';
        position: absolute;
        right: 0;
        top: 3px;
        display: block;
        width: 16px;
        height: 16px; }
    #site-header .header-contacts p {
      margin: 0; }
  #site-header #site-logo {
    position: absolute;
    top: 20px;
    left: 20px; }
    #site-header #site-logo a {
      text-decoration: none; }
    #site-header #site-logo img {
      width: 136px;
      height: auto;
      display: block; }
    #site-header #site-logo span {
      display: block;
      font-size: 10px;
      letter-spacing: 1px;
      color: #909716; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #site-header #site-logo {
      top: 15px; }
      #site-header #site-logo img {
        width: 100px; } }
  @media (max-width: 767px) {
    #site-header {
      position: absolute; } }
  @media (max-width: 410px) {
    #site-header .header-contacts:before, #site-header .header-contacts:after {
      display: none; } }

@keyframes phone {
  0%, 100% {
    transform: rotate(-20deg); }
  50% {
    transform: rotate(21deg); } }

#primary-navigation {
  position: absolute;
  left: 165px;
  top: 20px; }
  #primary-navigation:after {
    content: "";
    display: inline-block;
    width: 100%; }
  #primary-navigation ul {
    margin-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    display: block; }
    #primary-navigation ul:before, #primary-navigation ul:after {
      content: " ";
      display: table; }
    #primary-navigation ul:after {
      clear: both; }
    #primary-navigation ul li {
      display: inline-block; }
  #primary-navigation a {
    text-decoration: none;
    display: block;
    padding: 5px 10px; }
    #primary-navigation a:hover, #primary-navigation a.active {
      text-decoration: underline; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #primary-navigation {
      left: 10px;
      top: 42px;
      width: 100%;
      font-size: 13px; }
      #primary-navigation:after {
        display: none; } }
  @media (max-width: 767px) {
    #primary-navigation {
      display: none; } }

#page {
  padding-top: 72px; }

.section-block {
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px; }
  .section-block .section-title {
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 50px; }
    .section-block .section-title:before, .section-block .section-title:after {
      content: '';
      height: 2px;
      width: 40px;
      background-color: rgba(38, 38, 38, 0.65);
      vertical-align: middle;
      display: inline-block;
      margin: 0 10px 3px; }
  @media (max-width: 767px) {
    .section-block {
      padding-top: 40px;
      padding-bottom: 30px; }
      .section-block .section-title {
        margin-left: -20px;
        margin-right: -20px;
        font-size: 17px; }
        .section-block .section-title:before, .section-block .section-title:after {
          width: 10px; } }

input[type=submit],
input[type=button],
button,
.button {
  background: #FF8A00;
  color: #fff;
  cursor: pointer;
  border: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  font-size: 27px;
  line-height: 1.2;
  text-decoration: none; }
  @media (min-width: 768px) {
    input[type=submit]:hover,
    input[type=button]:hover,
    button:hover,
    .button:hover {
      background: rgba(255, 138, 0, 0.9); } }
  @media (max-width: 767px) {
    input[type=submit],
    input[type=button],
    button,
    .button {
      font-size: 16px; } }

.button {
  padding-left: 40px;
  padding-right: 40px; }

input[type=submit],
input[type=button],
button {
  width: 100%;
  max-width: 1024px; }

input:invalid {
  box-shadow: none; }

input[type=text],
input[type=tel] {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  height: 40px;
  padding: 6px 10px;
  width: 100%; }
  input[type=text].wpcf7-not-valid,
  input[type=tel].wpcf7-not-valid {
    border-color: #ea6929; }

form span.wpcf7-not-valid-tip {
  color: #ea6929; }

form div.wpcf7-response-output {
  border: none;
  margin: 15px 0 0;
  padding: 4px 10px 6px 0;
  border-left: none !important;
  border-top: none !important; }

form div.wpcf7-validation-errors {
  border: 1px solid #bf4422;
  color: #bf4422; }

form div.wpcf7-validation-success {
  border: 1px solid #189f51;
  color: #189f51; }

div.wpcf7 .ajax-loader {
  background-image: none;
  border: 2px solid #fff;
  border-right: none;
  border-radius: 50%;
  animation: cssload-rotate 800ms linear infinite; }

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg); } }

.owl-carousel .owl-nav > div {
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 201px;
  position: absolute;
  top: 0;
  height: 100%;
  transition: opacity .3s;
  text-align: center; }
  .owl-carousel .owl-nav > div:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
    .owl-carousel .owl-nav > div:hover .table {
      background-color: rgba(0, 0, 0, 0.2); }
  .owl-carousel .owl-nav > div .table {
    height: 100%;
    width: 51px;
    display: table;
    background-color: transparent;
    transition: background .3s; }
  .owl-carousel .owl-nav > div .cell {
    display: table-cell;
    vertical-align: middle; }
    .owl-carousel .owl-nav > div .cell:before {
      content: ''; }
  .owl-carousel .owl-nav > div.owl-prev {
    left: 0;
    text-align: left; }
    .owl-carousel .owl-nav > div.owl-prev .cell {
      padding-left: 20px; }
      .owl-carousel .owl-nav > div.owl-prev .cell:before {
        background-image: url("../images/sprites/common.png");
        width: 11px;
        height: 16px;
        background-position: 0px -18px;
        background-repeat: no-repeat;
        display: inline-block; }
  .owl-carousel .owl-nav > div.owl-next {
    right: 0;
    text-align: right;
    padding-left: 150px; }
    .owl-carousel .owl-nav > div.owl-next .cell {
      padding-right: 20px; }
      .owl-carousel .owl-nav > div.owl-next .cell:before {
        background-image: url("../images/sprites/common.png");
        width: 11px;
        height: 16px;
        background-position: -13px 0px;
        background-repeat: no-repeat;
        display: inline-block; }

#section-top {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  #section-top .wrapper {
    height: 530px;
    margin-top: -530px;
    display: table;
    z-index: 10; }
  #section-top .section-content {
    display: table-cell;
    vertical-align: middle; }
  #section-top .section-content-inn {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 70px;
    padding-bottom: 60px;
    color: #fff; }
  #section-top .section-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    margin-bottom: 15px; }
  @media (max-width: 767px) {
    #section-top .wrapper {
      height: 400px;
      margin-top: -400px; }
    #section-top .section-content-inn {
      padding-top: 30px;
      padding-bottom: 30px; } }

.section-top-carousel .owl-slide {
  width: 100%;
  height: 530px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .section-top-carousel .owl-slide {
      height: 400px; } }

#section-advantages .section-title {
  margin-bottom: 70px; }

#section-advantages .advantage-item {
  padding-left: 68px;
  position: relative;
  margin-bottom: 80px; }
  #section-advantages .advantage-item:before {
    content: '';
    display: block;
    height: 48px;
    width: 36px;
    position: absolute;
    left: 20px;
    top: -1px; }
  #section-advantages .advantage-item.raketa:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg17%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg17%20path%2C%20%23svg17%20circle%2C%20%23svg17%20polygon%2C%20%23svg17%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg17%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg17%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg17%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg17%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg17%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M59.431.553a1.914%201.914%200%200%200-1.997-.439c-.548.198-13.456%204.882-17.444%207.594-3.49%202.373-8.674%207.236-13.892%2012.501-1.399-.707-3.483-1.572-5.325-1.572-6.807%200-17.881%2012.619-19.121%2014.058a1.278%201.278%200%200%200%201.242%202.08l11.812-2.603c-4.115%204.462-7.079%207.812-7.41%208.186a1.916%201.916%200%200%200%20.082%202.622l1.248%201.248a7.151%207.151%200%200%200-4.986%202.105C1.123%2048.851.304%2057.004.165%2058.613c-.031.375.104.746.369%201.013a1.285%201.285%200%200%200%201.014.369c1.608-.139%209.764-.957%2012.279-3.474a7.149%207.149%200%200%200%202.105-4.987l1.23%201.23a1.916%201.916%200%200%200%202.62.084c.38-.335%203.807-3.358%208.35-7.54l-2.655%2012.048a1.277%201.277%200%200%200%202.081%201.242c1.438-1.24%2014.057-12.313%2014.057-19.119%200-1.895-.914-4.048-1.633-5.446%205.258-5.211%2010.106-10.39%2012.459-13.888%202.706-4.022%207.26-17.048%207.451-17.601a1.91%201.91%200%200%200-.461-1.991zM12.022%2054.716c-1.241%201.241-5.765%202.155-9.148%202.571.417-3.384%201.331-7.906%202.571-9.148.879-.878%202.047-1.362%203.289-1.362s2.41.484%203.288%201.362c.878.879%201.362%202.046%201.362%203.288s-.484%202.411-1.362%203.289zM6.297%2031.41C10.445%2027.112%2017%2021.19%2020.773%2021.19c1.04%200%202.328.445%203.432.943a451.957%20451.957%200%200%200-6.445%206.751L6.297%2031.41zm12.299%2017.369l-7.229-7.229c.409-.457.921-1.027%201.509-1.677l7.377%207.422c-.642.576-1.205%201.081-1.657%201.484zm20.466-9.3c0%203.772-5.923%2010.328-10.221%2014.476l2.577-11.695a443.492%20443.492%200%200%200%206.644-6.338c.52%201.13%201%202.477%201%203.557zm10.202-21.471c-4.688%206.971-20.585%2021.672-28.062%2028.431l-7.469-7.514c6.779-7.48%2021.47-23.329%2028.412-28.05%202.207-1.501%208.268-3.989%2012.728-5.71-1.677%204.498-4.113%2010.618-5.609%2012.843z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M36.084%2019.914c0%202.347%201.908%204.256%204.255%204.256s4.256-1.909%204.256-4.256-1.909-4.256-4.256-4.256-4.255%201.909-4.255%204.256zm7.234%200a2.982%202.982%200%200%201-2.979%202.979c-1.643%200-2.979-1.336-2.979-2.979s1.336-2.979%202.979-2.979a2.983%202.983%200%200%201%202.979%202.979z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-advantages .advantage-item.star:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg19%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg19%20path%2C%20%23svg19%20circle%2C%20%23svg19%20polygon%2C%20%23svg19%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg19%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg19%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg19%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg19%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg19%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M30%200C13.458%200%20.001%2013.458.001%2030S13.458%2060%2030%2060s29.999-13.458%2029.999-30S46.542%200%2030%200zm0%2056.793C15.227%2056.793%203.207%2044.774%203.207%2030S15.227%203.207%2030%203.207%2056.793%2015.226%2056.793%2030%2044.773%2056.793%2030%2056.793z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M45.304%2023.839l-10.303-1.497-4.606-9.334a.8.8%200%200%200-1.438%200l-4.607%209.334-10.303%201.497a.8.8%200%200%200-.444%201.367l7.454%207.267-1.76%2010.26a.802.802%200%200%200%201.164.846l9.215-4.844%209.214%204.844a.795.795%200%200%200%20.373.092.803.803%200%200%200%20.79-.937l-1.761-10.26%207.455-7.267a.801.801%200%201%200-.443-1.368zm-8.432%207.78a.804.804%200%200%200-.231.71l1.558%209.073-8.149-4.284a.806.806%200%200%200-.746%200l-8.15%204.285%201.556-9.074a.8.8%200%200%200-.23-.71l-6.592-6.427%209.111-1.324a.802.802%200%200%200%20.604-.438l4.075-8.256%204.074%208.256c.116.236.343.4.604.438l9.111%201.324-6.595%206.427z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-advantages .advantage-item.square-v:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg18%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg18%20path%2C%20%23svg18%20circle%2C%20%23svg18%20polygon%2C%20%23svg18%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg18%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg18%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg18%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg18%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg18%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M48.851%2013.399L19.953%2042.297l-7.81-7.811a1.926%201.926%200%201%200-2.725%202.725l9.172%209.173c.376.377.869.564%201.362.564s.986-.188%201.362-.564l30.261-30.259a1.926%201.926%200%201%200-2.724-2.726z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M55.584%200H4.415A4.42%204.42%200%200%200%200%204.416v51.168A4.42%204.42%200%200%200%204.415%2060h51.169A4.421%204.421%200%200%200%2060%2055.584V4.416A4.421%204.421%200%200%200%2055.584%200zm.562%2055.584a.562.562%200%200%201-.562.562H4.415a.562.562%200%200%201-.562-.562V4.416c0-.31.252-.562.562-.562h51.169c.31%200%20.562.252.562.562v51.168z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-advantages .advantage-item.paper:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg21%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg21%20path%2C%20%23svg21%20circle%2C%20%23svg21%20polygon%2C%20%23svg21%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg21%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg21%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg21%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg21%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg21%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M57.63%200H2.37A2.15%202.15%200%200%200%20.22%202.15v55.7A2.15%202.15%200%200%200%202.37%2060h55.26a2.15%202.15%200%200%200%202.15-2.15V2.15A2.15%202.15%200%200%200%2057.63%200zm-9.236%209.666c.961%200%201.742.781%201.742%201.741s-.781%201.74-1.742%201.74c-.959%200-1.74-.78-1.74-1.74s.781-1.741%201.74-1.741zm-8.726%200c.959%200%201.74.781%201.74%201.741s-.781%201.74-1.74%201.74a1.741%201.741%200%200%201%200-3.481zm-9.247%200a1.741%201.741%200%200%201%200%203.481%201.741%201.741%200%200%201%200-3.481zm-9.591%200c.959%200%201.74.781%201.74%201.741s-.781%201.74-1.74%201.74a1.741%201.741%200%200%201%200-3.481zm-9.248%200a1.741%201.741%200%200%201%200%203.481c-.959%200-1.74-.78-1.74-1.74s.781-1.741%201.74-1.741zm43.897%2046.033H4.521V4.301h6.345v4.02a3.176%203.176%200%200%200-2.457%203.085%203.177%203.177%200%200%200%203.173%203.174%203.177%203.177%200%200%200%203.173-3.174%203.175%203.175%200%200%200-2.456-3.085v-4.02h7.815v4.02a3.175%203.175%200%200%200-2.457%203.085%203.177%203.177%200%200%200%203.173%203.174%203.178%203.178%200%200%200%203.174-3.174%203.175%203.175%200%200%200-2.456-3.085v-4.02h8.154v4.021a3.176%203.176%200%200%200-2.457%203.085%203.178%203.178%200%200%200%203.175%203.174%203.177%203.177%200%200%200%203.172-3.174%203.176%203.176%200%200%200-2.457-3.086v-4.02h7.815v4.02a3.176%203.176%200%200%200-2.457%203.085c0%201.75%201.424%203.174%203.174%203.174s3.174-1.424%203.174-3.174a3.176%203.176%200%200%200-2.457-3.085v-4.02h7.292v4.02a3.176%203.176%200%200%200-2.457%203.085%203.178%203.178%200%200%200%203.174%203.174%203.179%203.179%200%200%200%203.176-3.174%203.175%203.175%200%200%200-2.459-3.085v-4.02h6.369v51.398z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M48.829%2022.329H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15zM48.829%2030.276H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15zM48.829%2046.605H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15zM48.829%2038.544H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-advantages .advantage-item.money:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg22%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg22%20path%2C%20%23svg22%20circle%2C%20%23svg22%20polygon%2C%20%23svg22%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg22%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg22%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg22%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg22%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg22%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M29.511%2012.803h-5.44V8.041c0-.844-.683-1.525-1.525-1.525H1.525C.683%206.516%200%207.197%200%208.041v6.189c0%20.844.683%201.525%201.525%201.525h5.44v3.342H4.947c-.843%200-1.525.684-1.525%201.525v6.189c0%20.844.683%201.527%201.525%201.527h.918v4.592c0%20.693.467%201.271%201.101%201.457v3.301H4.947c-.843%200-1.525.682-1.525%201.525v6.189c0%20.842.683%201.525%201.525%201.525h1.285v4.807c0%20.844.683%201.525%201.526%201.525h21.019c.843%200%201.526-.682%201.526-1.525v-6.189c0-.842-.684-1.525-1.526-1.525h-1.284v-3.434h2.018c.843%200%201.525-.682%201.525-1.525v-6.189c0-.693-.465-1.273-1.099-1.457v-4.674c0-.844-.684-1.527-1.526-1.527h-.918v-3.172h2.018c.843%200%201.525-.684%201.525-1.525v-6.189c0-.844-.682-1.525-1.525-1.525zM3.052%209.566h17.967v3.139H3.052V9.566zM25.967%2028.34c.153%200%20.299-.029.438-.072h.479v3.08H8.918V28.34h17.049zM6.474%2040.74H24.44v3.137H6.474V40.74zm20.777%209.471H9.284v-3.137h17.967v3.137zM10.018%2037.537v-3.08h17.967v3.08H10.018zM7.392%2025.215c-.153%200-.299.029-.438.072h-.48V22.15H24.44v3.064H7.392zm20.592-6.225H10.018v-3.137h17.967v3.137zM58.474%2040.902c.843%200%201.526-.684%201.526-1.525v-6.189c0-.844-.684-1.527-1.526-1.527H37.455c-.844%200-1.526.684-1.526%201.527v4.76h-1.407c-.843%200-1.526.684-1.526%201.527v6.189c0%20.842.684%201.525%201.526%201.525h1.284v4.77c0%20.844.684%201.525%201.526%201.525h21.02c.843%200%201.525-.682%201.525-1.525V45.77c0-.844-.683-1.525-1.525-1.525h-1.285v-3.342h1.407zM38.98%2034.713h17.967v3.137H38.98v-3.137zm-2.932%209.424V41h17.967v3.137H36.048zm20.777%206.297H38.858v-3.139h17.967v3.139z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-advantages .advantage-item.check:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg23%20path%2C%20%23svg23%20circle%2C%20%23svg23%20polygon%2C%20%23svg23%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg23%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg23%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg23%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg23%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg23%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M49.863.16a1.922%201.922%200%200%200-2.079.354L44.37%203.686%2041.247.563a1.926%201.926%200%200%200-2.574-.132l-4.108%203.338L31.363.565A1.92%201.92%200%200%200%2030.002%200h-.001c-.51%200-1%20.202-1.36.562l-3.123%203.122L22.106.513a1.926%201.926%200%200%200-2.619%200l-3.51%203.259L12.167.47a1.926%201.926%200%200%200-3.186%201.453v56.151a1.925%201.925%200%200%200%203.285%201.36l3.119-3.121%203.416%203.171c.737.686%201.88.685%202.618%200l3.465-3.217%203.465%203.217a1.926%201.926%200%200%200%202.619%200l3.506-3.258%203.812%203.302c.763.662%201.906.62%202.621-.094l3.163-3.165%203.762%203.259a1.924%201.924%200%201%200%203.185-1.454V1.924A1.92%201.92%200%200%200%2049.863.16zm-2.694%2053.701l-1.932-1.673a1.922%201.922%200%200%200-2.621.094l-3.163%203.165-3.762-3.259a1.923%201.923%200%200%200-2.569.044l-3.463%203.217-3.464-3.217a1.924%201.924%200%200%200-2.619%200l-3.465%203.217-3.465-3.217a1.918%201.918%200%200%200-1.31-.514%201.92%201.92%200%200%200-1.361.563l-1.145%201.146V6.139l1.929%201.672a1.923%201.923%200%200%200%202.569-.043l3.466-3.218%203.462%203.217a1.923%201.923%200%200%200%202.67-.049L30%204.647l3.068%203.07a1.923%201.923%200%200%200%202.575.134l4.108-3.339%203.207%203.206a1.924%201.924%200%200%200%202.67.049l1.539-1.429v47.523z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M35.455%2011.946H15.68a.962.962%200%200%200%200%201.924h19.775a.962.962%200%200%200%200-1.924zM15.68%2023.461h13.979a.963.963%200%200%200%200-1.924H15.68a.962.962%200%200%200%200%201.924zM35.455%2031.19H15.68a.963.963%200%200%200%200%201.925h19.775a.962.962%200%200%200%200-1.925zM29.658%2041.187H15.68a.963.963%200%200%200%200%201.925h13.979a.964.964%200%200%200%20.963-.963.965.965%200%200%200-.964-.962zM44.32%2011.946h-3.069a.962.962%200%200%200%200%201.924h3.069a.962.962%200%200%200%200-1.924zM44.32%2021.537h-3.069a.962.962%200%200%200%200%201.924h3.069a.962.962%200%200%200%200-1.924zM44.32%2031.19h-3.069a.963.963%200%200%200%200%201.925h3.069a.962.962%200%200%200%200-1.925zM44.32%2041.187h-3.069a.963.963%200%200%200%200%201.925h3.069a.963.963%200%200%200%200-1.925z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-advantages .advantage-item .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px; }

#section-advantages-2 {
  padding-bottom: 30px; }
  #section-advantages-2 .section-title {
    margin-bottom: 70px; }
  #section-advantages-2 .advantage-item {
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    margin-bottom: 60px; }
    #section-advantages-2 .advantage-item:before {
      content: '';
      display: block;
      height: 48px;
      width: 36px;
      position: absolute;
      left: 20px;
      top: -1px; }
    #section-advantages-2 .advantage-item.raketa:before {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg17%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg17%20path%2C%20%23svg17%20circle%2C%20%23svg17%20polygon%2C%20%23svg17%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg17%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg17%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg17%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg17%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg17%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M59.431.553a1.914%201.914%200%200%200-1.997-.439c-.548.198-13.456%204.882-17.444%207.594-3.49%202.373-8.674%207.236-13.892%2012.501-1.399-.707-3.483-1.572-5.325-1.572-6.807%200-17.881%2012.619-19.121%2014.058a1.278%201.278%200%200%200%201.242%202.08l11.812-2.603c-4.115%204.462-7.079%207.812-7.41%208.186a1.916%201.916%200%200%200%20.082%202.622l1.248%201.248a7.151%207.151%200%200%200-4.986%202.105C1.123%2048.851.304%2057.004.165%2058.613c-.031.375.104.746.369%201.013a1.285%201.285%200%200%200%201.014.369c1.608-.139%209.764-.957%2012.279-3.474a7.149%207.149%200%200%200%202.105-4.987l1.23%201.23a1.916%201.916%200%200%200%202.62.084c.38-.335%203.807-3.358%208.35-7.54l-2.655%2012.048a1.277%201.277%200%200%200%202.081%201.242c1.438-1.24%2014.057-12.313%2014.057-19.119%200-1.895-.914-4.048-1.633-5.446%205.258-5.211%2010.106-10.39%2012.459-13.888%202.706-4.022%207.26-17.048%207.451-17.601a1.91%201.91%200%200%200-.461-1.991zM12.022%2054.716c-1.241%201.241-5.765%202.155-9.148%202.571.417-3.384%201.331-7.906%202.571-9.148.879-.878%202.047-1.362%203.289-1.362s2.41.484%203.288%201.362c.878.879%201.362%202.046%201.362%203.288s-.484%202.411-1.362%203.289zM6.297%2031.41C10.445%2027.112%2017%2021.19%2020.773%2021.19c1.04%200%202.328.445%203.432.943a451.957%20451.957%200%200%200-6.445%206.751L6.297%2031.41zm12.299%2017.369l-7.229-7.229c.409-.457.921-1.027%201.509-1.677l7.377%207.422c-.642.576-1.205%201.081-1.657%201.484zm20.466-9.3c0%203.772-5.923%2010.328-10.221%2014.476l2.577-11.695a443.492%20443.492%200%200%200%206.644-6.338c.52%201.13%201%202.477%201%203.557zm10.202-21.471c-4.688%206.971-20.585%2021.672-28.062%2028.431l-7.469-7.514c6.779-7.48%2021.47-23.329%2028.412-28.05%202.207-1.501%208.268-3.989%2012.728-5.71-1.677%204.498-4.113%2010.618-5.609%2012.843z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M36.084%2019.914c0%202.347%201.908%204.256%204.255%204.256s4.256-1.909%204.256-4.256-1.909-4.256-4.256-4.256-4.255%201.909-4.255%204.256zm7.234%200a2.982%202.982%200%200%201-2.979%202.979c-1.643%200-2.979-1.336-2.979-2.979s1.336-2.979%202.979-2.979a2.983%202.983%200%200%201%202.979%202.979z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
    #section-advantages-2 .advantage-item.star:before {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg19%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg19%20path%2C%20%23svg19%20circle%2C%20%23svg19%20polygon%2C%20%23svg19%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg19%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg19%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg19%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg19%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg19%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M30%200C13.458%200%20.001%2013.458.001%2030S13.458%2060%2030%2060s29.999-13.458%2029.999-30S46.542%200%2030%200zm0%2056.793C15.227%2056.793%203.207%2044.774%203.207%2030S15.227%203.207%2030%203.207%2056.793%2015.226%2056.793%2030%2044.773%2056.793%2030%2056.793z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M45.304%2023.839l-10.303-1.497-4.606-9.334a.8.8%200%200%200-1.438%200l-4.607%209.334-10.303%201.497a.8.8%200%200%200-.444%201.367l7.454%207.267-1.76%2010.26a.802.802%200%200%200%201.164.846l9.215-4.844%209.214%204.844a.795.795%200%200%200%20.373.092.803.803%200%200%200%20.79-.937l-1.761-10.26%207.455-7.267a.801.801%200%201%200-.443-1.368zm-8.432%207.78a.804.804%200%200%200-.231.71l1.558%209.073-8.149-4.284a.806.806%200%200%200-.746%200l-8.15%204.285%201.556-9.074a.8.8%200%200%200-.23-.71l-6.592-6.427%209.111-1.324a.802.802%200%200%200%20.604-.438l4.075-8.256%204.074%208.256c.116.236.343.4.604.438l9.111%201.324-6.595%206.427z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
    #section-advantages-2 .advantage-item.square-v:before {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg18%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg18%20path%2C%20%23svg18%20circle%2C%20%23svg18%20polygon%2C%20%23svg18%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg18%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg18%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg18%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg18%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg18%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M48.851%2013.399L19.953%2042.297l-7.81-7.811a1.926%201.926%200%201%200-2.725%202.725l9.172%209.173c.376.377.869.564%201.362.564s.986-.188%201.362-.564l30.261-30.259a1.926%201.926%200%201%200-2.724-2.726z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M55.584%200H4.415A4.42%204.42%200%200%200%200%204.416v51.168A4.42%204.42%200%200%200%204.415%2060h51.169A4.421%204.421%200%200%200%2060%2055.584V4.416A4.421%204.421%200%200%200%2055.584%200zm.562%2055.584a.562.562%200%200%201-.562.562H4.415a.562.562%200%200%201-.562-.562V4.416c0-.31.252-.562.562-.562h51.169c.31%200%20.562.252.562.562v51.168z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
    #section-advantages-2 .advantage-item.paper:before {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg21%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg21%20path%2C%20%23svg21%20circle%2C%20%23svg21%20polygon%2C%20%23svg21%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg21%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg21%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg21%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg21%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg21%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M57.63%200H2.37A2.15%202.15%200%200%200%20.22%202.15v55.7A2.15%202.15%200%200%200%202.37%2060h55.26a2.15%202.15%200%200%200%202.15-2.15V2.15A2.15%202.15%200%200%200%2057.63%200zm-9.236%209.666c.961%200%201.742.781%201.742%201.741s-.781%201.74-1.742%201.74c-.959%200-1.74-.78-1.74-1.74s.781-1.741%201.74-1.741zm-8.726%200c.959%200%201.74.781%201.74%201.741s-.781%201.74-1.74%201.74a1.741%201.741%200%200%201%200-3.481zm-9.247%200a1.741%201.741%200%200%201%200%203.481%201.741%201.741%200%200%201%200-3.481zm-9.591%200c.959%200%201.74.781%201.74%201.741s-.781%201.74-1.74%201.74a1.741%201.741%200%200%201%200-3.481zm-9.248%200a1.741%201.741%200%200%201%200%203.481c-.959%200-1.74-.78-1.74-1.74s.781-1.741%201.74-1.741zm43.897%2046.033H4.521V4.301h6.345v4.02a3.176%203.176%200%200%200-2.457%203.085%203.177%203.177%200%200%200%203.173%203.174%203.177%203.177%200%200%200%203.173-3.174%203.175%203.175%200%200%200-2.456-3.085v-4.02h7.815v4.02a3.175%203.175%200%200%200-2.457%203.085%203.177%203.177%200%200%200%203.173%203.174%203.178%203.178%200%200%200%203.174-3.174%203.175%203.175%200%200%200-2.456-3.085v-4.02h8.154v4.021a3.176%203.176%200%200%200-2.457%203.085%203.178%203.178%200%200%200%203.175%203.174%203.177%203.177%200%200%200%203.172-3.174%203.176%203.176%200%200%200-2.457-3.086v-4.02h7.815v4.02a3.176%203.176%200%200%200-2.457%203.085c0%201.75%201.424%203.174%203.174%203.174s3.174-1.424%203.174-3.174a3.176%203.176%200%200%200-2.457-3.085v-4.02h7.292v4.02a3.176%203.176%200%200%200-2.457%203.085%203.178%203.178%200%200%200%203.174%203.174%203.179%203.179%200%200%200%203.176-3.174%203.175%203.175%200%200%200-2.459-3.085v-4.02h6.369v51.398z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M48.829%2022.329H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15zM48.829%2030.276H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15zM48.829%2046.605H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15zM48.829%2038.544H11.17a1.075%201.075%200%201%200%200%202.15h37.659a1.075%201.075%200%201%200%200-2.15z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
    #section-advantages-2 .advantage-item.money:before {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg22%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg22%20path%2C%20%23svg22%20circle%2C%20%23svg22%20polygon%2C%20%23svg22%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg22%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg22%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg22%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg22%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg22%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M29.511%2012.803h-5.44V8.041c0-.844-.683-1.525-1.525-1.525H1.525C.683%206.516%200%207.197%200%208.041v6.189c0%20.844.683%201.525%201.525%201.525h5.44v3.342H4.947c-.843%200-1.525.684-1.525%201.525v6.189c0%20.844.683%201.527%201.525%201.527h.918v4.592c0%20.693.467%201.271%201.101%201.457v3.301H4.947c-.843%200-1.525.682-1.525%201.525v6.189c0%20.842.683%201.525%201.525%201.525h1.285v4.807c0%20.844.683%201.525%201.526%201.525h21.019c.843%200%201.526-.682%201.526-1.525v-6.189c0-.842-.684-1.525-1.526-1.525h-1.284v-3.434h2.018c.843%200%201.525-.682%201.525-1.525v-6.189c0-.693-.465-1.273-1.099-1.457v-4.674c0-.844-.684-1.527-1.526-1.527h-.918v-3.172h2.018c.843%200%201.525-.684%201.525-1.525v-6.189c0-.844-.682-1.525-1.525-1.525zM3.052%209.566h17.967v3.139H3.052V9.566zM25.967%2028.34c.153%200%20.299-.029.438-.072h.479v3.08H8.918V28.34h17.049zM6.474%2040.74H24.44v3.137H6.474V40.74zm20.777%209.471H9.284v-3.137h17.967v3.137zM10.018%2037.537v-3.08h17.967v3.08H10.018zM7.392%2025.215c-.153%200-.299.029-.438.072h-.48V22.15H24.44v3.064H7.392zm20.592-6.225H10.018v-3.137h17.967v3.137zM58.474%2040.902c.843%200%201.526-.684%201.526-1.525v-6.189c0-.844-.684-1.527-1.526-1.527H37.455c-.844%200-1.526.684-1.526%201.527v4.76h-1.407c-.843%200-1.526.684-1.526%201.527v6.189c0%20.842.684%201.525%201.526%201.525h1.284v4.77c0%20.844.684%201.525%201.526%201.525h21.02c.843%200%201.525-.682%201.525-1.525V45.77c0-.844-.683-1.525-1.525-1.525h-1.285v-3.342h1.407zM38.98%2034.713h17.967v3.137H38.98v-3.137zm-2.932%209.424V41h17.967v3.137H36.048zm20.777%206.297H38.858v-3.139h17.967v3.139z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
    #section-advantages-2 .advantage-item.check:before {
      background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg23%20path%2C%20%23svg23%20circle%2C%20%23svg23%20polygon%2C%20%23svg23%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg23%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg23%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg23%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg23%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg23%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M49.863.16a1.922%201.922%200%200%200-2.079.354L44.37%203.686%2041.247.563a1.926%201.926%200%200%200-2.574-.132l-4.108%203.338L31.363.565A1.92%201.92%200%200%200%2030.002%200h-.001c-.51%200-1%20.202-1.36.562l-3.123%203.122L22.106.513a1.926%201.926%200%200%200-2.619%200l-3.51%203.259L12.167.47a1.926%201.926%200%200%200-3.186%201.453v56.151a1.925%201.925%200%200%200%203.285%201.36l3.119-3.121%203.416%203.171c.737.686%201.88.685%202.618%200l3.465-3.217%203.465%203.217a1.926%201.926%200%200%200%202.619%200l3.506-3.258%203.812%203.302c.763.662%201.906.62%202.621-.094l3.163-3.165%203.762%203.259a1.924%201.924%200%201%200%203.185-1.454V1.924A1.92%201.92%200%200%200%2049.863.16zm-2.694%2053.701l-1.932-1.673a1.922%201.922%200%200%200-2.621.094l-3.163%203.165-3.762-3.259a1.923%201.923%200%200%200-2.569.044l-3.463%203.217-3.464-3.217a1.924%201.924%200%200%200-2.619%200l-3.465%203.217-3.465-3.217a1.918%201.918%200%200%200-1.31-.514%201.92%201.92%200%200%200-1.361.563l-1.145%201.146V6.139l1.929%201.672a1.923%201.923%200%200%200%202.569-.043l3.466-3.218%203.462%203.217a1.923%201.923%200%200%200%202.67-.049L30%204.647l3.068%203.07a1.923%201.923%200%200%200%202.575.134l4.108-3.339%203.207%203.206a1.924%201.924%200%200%200%202.67.049l1.539-1.429v47.523z%22%2F%3E%3Cpath%20fill%3D%22%23262626%22%20d%3D%22M35.455%2011.946H15.68a.962.962%200%200%200%200%201.924h19.775a.962.962%200%200%200%200-1.924zM15.68%2023.461h13.979a.963.963%200%200%200%200-1.924H15.68a.962.962%200%200%200%200%201.924zM35.455%2031.19H15.68a.963.963%200%200%200%200%201.925h19.775a.962.962%200%200%200%200-1.925zM29.658%2041.187H15.68a.963.963%200%200%200%200%201.925h13.979a.964.964%200%200%200%20.963-.963.965.965%200%200%200-.964-.962zM44.32%2011.946h-3.069a.962.962%200%200%200%200%201.924h3.069a.962.962%200%200%200%200-1.924zM44.32%2021.537h-3.069a.962.962%200%200%200%200%201.924h3.069a.962.962%200%200%200%200-1.924zM44.32%2031.19h-3.069a.963.963%200%200%200%200%201.925h3.069a.962.962%200%200%200%200-1.925zM44.32%2041.187h-3.069a.963.963%200%200%200%200%201.925h3.069a.963.963%200%200%200%200-1.925z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
    #section-advantages-2 .advantage-item .title {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      margin-bottom: 12px;
      font-size: 18px; }
    #section-advantages-2 .advantage-item p {
      margin-bottom: 8px; }
  #section-advantages-2 .button-block {
    padding-top: 20px;
    text-align: center; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #section-advantages-2 .advantage-item {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 767px) {
    #section-advantages-2 .section-title {
      margin-bottom: 30px; }
    #section-advantages-2 .advantage-item {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid #F0F0F0;
      padding-bottom: 15px; }
      #section-advantages-2 .advantage-item ul {
        margin-bottom: 8px; } }

#section-description {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #fff;
  text-align: center; }
  #section-description:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 38, 21, 0.83); }
  #section-description .section-title {
    margin-bottom: 30px; }
    #section-description .section-title:before, #section-description .section-title:after {
      background-color: #fff; }
    #section-description .section-title b {
      text-decoration: underline; }
  #section-description .section-text {
    line-height: 2;
    font-size: 18px; }
    #section-description .section-text p {
      margin-bottom: 5px; }

.section-products .section-title {
  margin-bottom: 10px; }

.section-products .row-flex {
  -ms-flex-pack: center;
      justify-content: center; }

.section-products .hentry {
  margin-bottom: 20px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }
  .section-products .hentry:before, .section-products .hentry:after {
    content: " ";
    display: table; }
  .section-products .hentry:after {
    clear: both; }
  .section-products .hentry .entry-thumbnail {
    margin-bottom: 3px; }
    .section-products .hentry .entry-thumbnail a {
      cursor: zoom-in;
      display: block;
      position: relative;
      overflow: hidden; }
      .section-products .hentry .entry-thumbnail a:before {
        background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cg%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M505.508%20475.582l-163.48-163.48c26.405-32.888%2042.214-74.647%2042.214-120.102%200-106.033-85.967-192-192-192s-192%2085.967-192%20192%2085.967%20192%20192%20192c45.207%200%2086.759-15.635%20119.563-41.78l163.532%20163.532c8.331%208.331%2021.839%208.331%2030.17%200%208.333-8.332%208.333-21.839.001-30.17zM42.91%20192c0-82.469%2066.865-149.333%20149.333-149.333S341.577%20109.531%20341.577%20192c0%2041.134-16.637%2078.385-43.547%20105.394-.152.143-.313.269-.462.417-.117.117-.215.245-.329.364-26.977%2026.679-64.061%2043.158-104.995%2043.158-82.469%200-149.334-66.864-149.334-149.333z%22%2F%3E%3Cpath%20d%3D%22M255.757%20170.667H213.09V128c0-11.782-9.551-21.333-21.333-21.333s-21.333%209.551-21.333%2021.333v42.667h-42.667c-11.782%200-21.333%209.551-21.333%2021.333s9.551%2021.333%2021.333%2021.333h42.667V256c0%2011.782%209.551%2021.333%2021.333%2021.333S213.09%20267.782%20213.09%20256v-42.667h42.667c11.782%200%2021.333-9.551%2021.333-21.333s-9.551-21.333-21.333-21.333z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center center no-repeat, none;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        z-index: 2;
        bottom: 4px;
        right: 4px;
        position: absolute;
        background-size: cover; }
      .section-products .hentry .entry-thumbnail a:after {
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 28px;
        height: 28px;
        bottom: 0;
        right: 0; }
    .section-products .hentry .entry-thumbnail img {
      float: right; }
  .section-products .hentry .entry-header {
    margin-bottom: 10px;
    position: relative; }
    .section-products .hentry .entry-header .edit-link {
      position: absolute;
      right: 0;
      top: 5px; }
  .section-products .hentry .entry-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0; }
  .section-products .hentry .entry-content p {
    margin-bottom: 5px; }
  .section-products .hentry .entry-price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: right;
    font-size: 16px;
    padding-top: 6px; }
  .section-products .hentry .order-button-block .button {
    font-size: 18px; }
  .section-products .hentry .entry-block {
    padding-top: 5px; }
  .section-products .hentry .content-item {
    font-size: 14px;
    margin-bottom: 12px;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 9px; }
    .section-products .hentry .content-item .header {
      margin-bottom: 5px; }
    .section-products .hentry .content-item .table {
      display: table;
      width: 100%; }
      .section-products .hentry .content-item .table .table-item {
        display: table-cell;
        text-align: right; }
        .section-products .hentry .content-item .table .table-item:first-child {
          text-align: left; }
    .section-products .hentry .content-item .title {
      font-weight: bold;
      font-size: 16px; }
    .section-products .hentry .content-item .value {
      text-align: right; }
  .section-products .hentry .more-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: block;
    text-decoration: none;
    background-color: #8c8c8c;
    padding: 10px 20px;
    left: 20px;
    bottom: 0;
    color: #fff; }
    .section-products .hentry .more-link:hover {
      background-color: rgba(140, 140, 140, 0.9); }
  .section-products .hentry .order-button-block {
    text-align: center; }

@media (min-width: 1025px) {
  .section-products .hentry {
    width: 33.33333%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .section-products .row-flex {
    display: block; }
  .section-products .hentry {
    position: relative;
    padding-left: 398px;
    min-height: 308px; }
    .section-products .hentry .entry-thumbnail {
      position: absolute;
      top: 8px;
      left: 20px; }
    .section-products .hentry .entry-title br {
      display: none; }
    .section-products .hentry .order-button-block {
      position: absolute;
      top: 256px;
      left: 20px;
      width: 358px; }
      .section-products .hentry .order-button-block .button {
        width: 100%; }
    .section-products .hentry .content-item .table .table-item br + br {
      display: none; } }

@media (max-width: 767px) {
  .section-products .hentry .entry-title br {
    display: none; }
  .section-products .hentry .entry-thumbnail .open-popup-gallery {
    max-width: 358px;
    margin: 0 auto;
    display: block; }
  .section-products .hentry .entry-thumbnail img {
    float: none;
    display: block; }
  .section-products .hentry .order-button-block .button {
    font-size: 16px; } }

.post-popup-wrapper {
  background-color: #fff;
  padding-bottom: 20px; }
  .post-popup-wrapper:before, .post-popup-wrapper:after {
    content: " ";
    display: table; }
  .post-popup-wrapper:after {
    clear: both; }
  .post-popup-wrapper.wrapper {
    max-width: 504px; }
  .post-popup-wrapper .post-popup-header {
    border-bottom: 1px solid #e5e5e5;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 20px; }
    .post-popup-wrapper .post-popup-header:after {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 1px;
      background-color: #e5e5e5;
      top: 0;
      right: 60px; }
  .post-popup-wrapper .post-popup-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px; }
  .post-popup-wrapper .post-popup-close {
    opacity: 0.7;
    filter: alpha(opacity=70);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 38px;
    line-height: 56px;
    transition: opacity .4;
    padding: 0; }
    .post-popup-wrapper .post-popup-close:hover {
      opacity: 1;
      filter: alpha(opacity=100); }
  .post-popup-wrapper .wpcf7-form {
    max-width: 464px; }
    .post-popup-wrapper .wpcf7-form .form-item-name,
    .post-popup-wrapper .wpcf7-form .form-item-email {
      position: relative;
      float: left;
      margin-bottom: 20px;
      width: 50%; }
      .post-popup-wrapper .wpcf7-form .form-item-name .wpcf7-not-valid-tip,
      .post-popup-wrapper .wpcf7-form .form-item-email .wpcf7-not-valid-tip {
        display: none;
        position: absolute;
        top: -35px;
        left: 0;
        font-size: 12px;
        color: #bf4422; }
      @media (max-width: 767px) {
        .post-popup-wrapper .wpcf7-form .form-item-name,
        .post-popup-wrapper .wpcf7-form .form-item-email {
          width: 100%;
          padding-right: 0 !important; } }
    .post-popup-wrapper .wpcf7-form .form-item-submit {
      clear: both;
      position: relative; }
      .post-popup-wrapper .wpcf7-form .form-item-submit .ajax-loader {
        position: absolute;
        top: 22px;
        right: 20px; }
    .post-popup-wrapper .wpcf7-form .form-item-name {
      padding-right: 20px; }
  .post-popup-wrapper .thank-message {
    font-size: 20px;
    text-align: center; }
    .post-popup-wrapper .thank-message .green {
      color: #46994c; }

#section-how-we-work .section-title {
  margin-bottom: 50px; }

#section-how-we-work .section-data-item {
  position: relative; }
  #section-how-we-work .section-data-item:before {
    content: '';
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto; }
  #section-how-we-work .section-data-item:after {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    content: '\f054';
    display: inline-block;
    position: absolute;
    left: -8px;
    top: 40px;
    font-size: 30px; }
  #section-how-we-work .section-data-item:first-child:after {
    display: none; }
  #section-how-we-work .section-data-item.phone:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg570%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg570%20path%2C%20%23svg570%20circle%2C%20%23svg570%20polygon%2C%20%23svg570%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg570%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg570%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg570%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg570%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg570%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23262626%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M54.292%2040.283c-3.429-3.298-6.901-5.373-11.055-2.297-4.179%203.092-4.622%206.525-4.622%206.525s.391%206.58-15.471-7.688c-14.274-15.866-7.69-15.474-7.69-15.474s3.433-.442%206.525-4.622c3.073-4.155.905-7.537-2.299-11.056C9.43-5.591%203.217%207.207%203.217%207.207c-7.257%2012.214%204.839%2026.73%2014.172%2035.377%208.649%209.333%2023.159%2021.419%2035.368%2014.164%200%200%2012.959-5.473%201.535-16.465z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23262626%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M8.896%201.549c-.009.003-.013.009-.02.013.089-.039.185-.072.278-.107-.086.031-.174.059-.258.094zM29.838%2015.776c.244-.012%205.983-.343%2010.073%203.488%202.593%202.428%203.908%205.933%203.908%2010.414M29.101%2020.957c.162-.011%204.026-.233%206.784%202.35%201.747%201.637%202.633%203.996%202.633%207.007%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23262626%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M29.65%209.812c.349-.021%208.618-.497%2014.511%205.023%203.731%203.493%205.623%208.546%205.623%2015.014%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23262626%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M28.171%203.054c.489-.036%2012.152-.703%2020.455%207.075%205.253%204.921%207.919%2012.047%207.918%2021.178%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-how-we-work .section-data-item.meter:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg575%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg575%20path%2C%20%23svg575%20circle%2C%20%23svg575%20polygon%2C%20%23svg575%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg575%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg575%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg575%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg575%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg575%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cstyle%3E%23svg575%20.st0%7Bfill%3Anone%3Bstroke%3A%23262626%3Bstroke-width%3A1.5%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M24.742%2029.01L1.794%2059l44.46-.019-.012-8.489m-.021-13.767L46.17%201%2030.686%2021.239m3.962%203.963l4.143-5.416.014%209.556m.019%2013.666l.011%207.834-23.813.011%2013.654-17.848M46.208%2010.587l-4.132.001M46.206%2016.335h-4.13M46.206%2022.081h-4.13M46.206%2027.827h-4.13M46.208%2013.366l-2.46.001M46.206%2019.115l-2.456-.001M46.208%2024.861h-2.46M46.208%2033.945h-2.815M46.206%2030.979H43.75%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M45.119%2035.682h1.087v1.043M46.206%2051.174h-4.13M46.208%2053.953h-2.46M52.285%2054.671a1.332%201.332%200%200%201-1.876%200L9.451%2013.71a1.327%201.327%200%200%201%200-1.873%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M9.38%2011.867l5.971-5.971%2042.855%2042.852-5.973%205.974M17.61%208.172l-3.539%203.542M21.675%2012.237l-3.541%203.54M25.737%2016.301l-3.541%203.538M29.8%2020.364l-3.539%203.54M19.577%2010.138l-1.739%201.74M23.64%2014.203L21.9%2015.94M27.704%2018.266l-1.738%201.738M34.127%2024.689l-3.541%203.54M38.191%2028.753l-3.541%203.54M32.03%2022.593l-1.738%201.737M36.093%2026.654l-1.739%201.74M42.29%2032.827l-3.541%203.54M46.353%2036.89l-3.54%203.539M50.415%2040.954l-3.539%203.538M40.191%2030.729l-1.738%201.738M44.254%2034.793l-1.738%201.734M48.316%2038.856l-1.736%201.737M54.741%2045.28L51.2%2048.818M52.645%2043.181l-1.739%201.737%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-how-we-work .section-data-item.build:before {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20class%3D%22svgicon%22%20id%3D%22svg580%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2060%2060%22%3E%3Cstyle%3E%23svg580%20path%2C%20%23svg580%20circle%2C%20%23svg580%20polygon%2C%20%23svg580%20rect%20%7B%20fill%3A%20rgb(38%2C%2038%2C%2038)%20%7D%20%23svg580%20defs%20%26gt%3B%20path%20%7B%20fill%3A%20none%20%7D%20%23svg580%20path%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg580%20circle%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg580%20polygon%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%2C%20%23svg580%20rect%5Bfill%3D%26quot%3Bnone%26quot%3B%5D%20%7B%20fill%3A%20none%20%7D%3C%2Fstyle%3E%3Cstyle%3E%23svg580%20.st0%7Bfill%3A%23262626%7D%23svg580%20.st1%7Bclip-path%3Aurl(%23SVGID_2_)%7D%23svg580%20.st2%7Bfill%3Anone%3Bstroke%3A%23262626%3Bstroke-width%3A1.5%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M53.356%2059.525c-1.184%200-2.252-.375-2.938-1.061L27.085%2035.167a.751.751%200%200%201%201.06-1.062l23.334%2023.298c.889.887%203.46.995%205.317-.861%201.879-1.88%201.586-4.175.653-5.109l-23.38-23.29a.751.751%200%200%201%201.059-1.063l23.38%2023.292c1.582%201.582%201.782%204.795-.652%207.231-1.325%201.325-3.005%201.922-4.5%201.922zM25.323%2033.099a.749.749%200%200%201-.53-.219l-9.914-9.899c-1.663.616-7.149%202.222-11.005-1.634C-.541%2016.933.511%2011.182.558%2010.94a.75.75%200%200%201%20.206-.388l1.453-1.455a.771.771%200%200%201%201.061%200l4.535%204.535%204.312%201.083%202.479-2.479-1.094-3.765-4.802-4.803a.75.75%200%200%201%200-1.061L10.717.598a.746.746%200%200%201%20.433-.213c.252-.034%206.275-.768%2010.363%203.32%203.623%203.623%202.213%209.795%201.722%2011.525l9.678%209.642a.751.751%200%200%201-1.059%201.063l-9.997-9.96a.752.752%200%200%201-.182-.77c.023-.069%202.271-6.945-1.223-10.439-3.142-3.142-7.763-3-8.865-2.917l-1.288%201.288%204.407%204.409a.75.75%200%200%201%20.19.321l1.272%204.375a.753.753%200%200%201-.19.74l-3.094%203.094a.746.746%200%200%201-.713.197l-4.925-1.238a.748.748%200%200%201-.348-.197l-4.15-4.15-.748.749c-.129%201.019-.458%205.456%202.935%208.849%203.774%203.772%209.759%201.157%209.819%201.13a.751.751%200%200%201%20.836.154l10.263%2010.248a.751.751%200%200%201-.53%201.281z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M54.111%2057.297a3.241%203.241%200%200%201-3.238-3.236%203.242%203.242%200%200%201%203.238-3.238%203.241%203.241%200%200%201%203.237%203.238%203.24%203.24%200%200%201-3.237%203.236zm0-4.974a1.74%201.74%200%200%200-1.738%201.738%201.738%201.738%200%200%200%203.475%200%201.74%201.74%200%200%200-1.737-1.738zM27.395%2031.046a.744.744%200%200%201-.53-.22l-5.734-5.734c-.661-.66-1.1-1.476-1.236-2.298-.15-.9.086-1.739.648-2.301%201.125-1.125%203.145-.866%204.6.588l5.764%205.764a.75.75%200%201%201-1.061%201.061l-5.764-5.764c-.817-.816-1.975-1.091-2.479-.588-.293.294-.269.749-.229.994.084.508.382%201.048.817%201.483l5.734%205.734a.75.75%200%200%201-.53%201.281zM48.343%2050.767c-.941%200-1.979-.441-2.824-1.287L29.144%2033.105a.75.75%200%201%201%201.061-1.061L46.579%2048.42c.816.815%201.976%201.093%202.479.588.294-.294.27-.75.229-.995-.084-.508-.382-1.049-.818-1.485L32.084%2030.145a.75.75%200%201%201%201.061-1.061l16.384%2016.383c1.455%201.455%201.714%203.476.589%204.601-.471.471-1.098.699-1.775.699z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M24.753%2038.17a.75.75%200%200%201-.53-1.281L52.239%208.875a.679.679%200%200%201%20.19-.195.751.751%200%200%201%20.726-.208c.009%200%201.853.279%205.073-2.904-.045-.108-.18-.349-.575-.743l-2.479-2.479c-.368-.368-.623-.521-.748-.572-3.276%203.312-2.913%205.024-2.909%205.042.062.261-.01.568-.205.752a.592.592%200%200%201-.187.189L23.107%2035.773a.75.75%200%201%201-1.061-1.061l27.959-27.96c-.038-.917.325-3.006%203.445-6.126.245-.245.56-.375.91-.375.567%200%201.18.338%201.874%201.033l2.479%202.478c1.497%201.496%201.054%202.386.657%202.783-3.061%203.061-5.214%203.407-6.113%203.431L25.284%2037.951a.751.751%200%200%201-.531.219z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M7.623%2059.748a3.393%203.393%200%200%201-2.419-.999l-3.955-3.957a3.398%203.398%200%200%201-1-2.418%203.46%203.46%200%200%201%201.025-2.464l16.057-16.058c1.311-1.311%203.584-1.323%204.882-.025l3.956%203.957c.65.65%201.005%201.517.999%202.441a3.468%203.468%200%200%201-1.024%202.442L10.088%2058.724a3.466%203.466%200%200%201-2.465%201.024zm12.172-25.419c-.528%200-1.027.208-1.404.584L2.334%2050.971a1.973%201.973%200%200%200-.585%201.403c0%20.515.199.997.56%201.357l3.955%203.958c.731.73%202.02.72%202.764-.025l16.056-16.057c.374-.374.581-.868.584-1.391a1.904%201.904%200%200%200-.56-1.371l-3.956-3.957a1.901%201.901%200%200%200-1.357-.559z%22%2F%3E%3C%2Fsvg%3E") center center no-repeat, none; }
  #section-how-we-work .section-data-item .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px; }
  #section-how-we-work .section-data-item .content p {
    margin-bottom: 10px; }

#section-how-we-work .button-block {
  padding-top: 40px;
  text-align: center; }
  #section-how-we-work .button-block .button {
    font-size: 22px; }

@media (max-width: 767px) {
  #section-how-we-work .section-data-item:before {
    width: 70px;
    height: 70px; }
  #section-how-we-work .section-data-item:after {
    display: none; }
  #section-how-we-work .button-block .button {
    font-size: 16px; } }

#section-sections {
  background-color: #f0f0f0; }
  #section-sections .section-title {
    margin-bottom: 0; }
  #section-sections .hentry {
    text-align: center;
    margin-top: 50px; }
    #section-sections .hentry .entry-title {
      font-size: 18px;
      max-width: 264px;
      margin: 6px auto 0; }
      #section-sections .hentry .entry-title:after {
        content: '';
        display: block;
        margin: 10px auto 0;
        height: 1px;
        width: 40px;
        background-color: #6B6B6B; }

#site-footer {
  background-color: #6B6B6B;
  color: #fff;
  padding-bottom: 23px;
  padding-top: 23px;
  text-align: center;
  position: relative; }
  @media (max-width: 767px) {
    #site-footer {
      padding-bottom: 20px;
      padding-top: 20px; } }
