input[type=submit],
input[type=button],
button,
.button {
	background: $color-orange;
	color: #fff;
	cursor: pointer;
	border: none;
	display: inline-block;
	text-align: center;
	padding: 15px;
	font-size: 27px;
	line-height: 1.2;
	text-decoration: none;
	// border-bottom: 2px solid #c26d1b;
	// transition: all .2s;

	@include screen( phone-up ) {
		&:hover {
			background: rgba( $color-orange, 0.9 );
		}
	}
	@include screen( phone ) {
		font-size: 16px;
	}

}

.button {
	padding-left: $window-border * 2;
	padding-right: $window-border * 2;
}

input[type=submit],
input[type=button],
button {
	width: 100%;
	max-width: 1024px;
}

input:invalid {
    box-shadow: none;
}

input[type=text],
input[type=tel] {
	@include font-arial;

	border: 1px solid #e5e5e5;
	font-size: 16px;
	height: 40px;
	padding: 6px 10px;
	width: 100%;

	&.wpcf7-not-valid {
		border-color: #ea6929;
	}
}

form {
	span.wpcf7-not-valid-tip {
		color: #ea6929;
	}
	div.wpcf7-response-output {
		// border: 1px solid #ea6929;
		border: none;
		margin: 15px 0 0;
		padding: 4px 10px 6px 0;
		border-left: none !important;
		border-top: none !important;
	}
	div.wpcf7-validation-errors {
		border: 1px solid #bf4422;
		color: #bf4422;
	}
	div.wpcf7-validation-success {
		border: 1px solid #189f51;
		color: #189f51;
	}
}

div.wpcf7 .ajax-loader {
	background-image: none;
	border: 2px solid #fff;
	border-right: none;
	border-radius: 50%;
	animation: cssload-rotate 800ms linear infinite;
}

@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg)
	}
}
