#page {
	padding-top: 72px;
}

.section-block {
	position: relative;
	z-index: 10;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;

	.section-title {
		font-size: 22px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		margin-bottom: 50px;

		&:before,
		&:after {
			content: '';
			height: 2px;
			width: 40px;
			background-color: rgba( $color-text, .65 );
			vertical-align: middle;
			display: inline-block;
			margin: 0 10px 3px;
		}
	}

	@include screen( phone ) {
		padding-top: 40px;
		padding-bottom: 30px;

		.section-title {
			margin-left: -$window-border;
			margin-right: -$window-border;
			font-size: 17px;

			&:before,
			&:after {
				width: 10px;
			}
		}
	}
}

