.owl-carousel {
	.owl-nav {
		$bg-w: 51px;
		$w: 201px;

		& > div {
			@include opacity( .8 );

			width: $w;
			position: absolute;
			top: 0;
			height: 100%;
			transition: opacity .3s;
			text-align: center;

			&:hover {
				@include opacity( 1 );

				.table {
					background-color: rgba( 0, 0, 0, .2 );
				}
			}

			.table {
				height: 100%;
				width: $bg-w;
				display: table;
				
				background-color: rgba( 0, 0, 0, 0 );
				transition: background .3s;
			}

			.cell {
				display: table-cell;
				vertical-align: middle;

				&:before {
					content: '';

				}
			}

			&.owl-prev {
				left: 0;
				text-align: left;
				
				.cell {
					padding-left: 20px;

					&:before {
						@include sprite( slider-arrow-prev );
					}
				}

			}
			&.owl-next {
				right: 0;
				text-align: right;
				padding-left: $w - $bg-w;

				.cell {
					padding-right: 20px;

					&:before {
						@include sprite( slider-arrow-next );
					}
				}
			}
		}
	}
}