#section-products {
	.section-title {
		margin-bottom: 10px;
	}
	.hentry {
		@include clearfix;

		margin-bottom: 20px;
		margin-top: 50px;

		$mt: 4px;

		.entry-thumbnail {
			float: left;
			width: 48%;
			margin-top: $mt;
		}

		.entry-block {
			float: left;
			width: 52%;
			padding-left: $grid-gutter-width/2;
			min-height: 176px + $mt;
			position: relative;
			padding-bottom: 50px;
		}

		.entry-header {
			margin-bottom: 15px;
			border-bottom: 1px solid #b3b3b3;
			border-right: 1px solid #b3b3b3;
			position: relative;

			.entry-price {
				position: absolute;
				right: 0;
				top: 1px;
				padding: 4px 5px 4px 10px;

				p {
					margin: 0;
				}
			}
		}

		.entry-title {
			@include font-open-sans( bold );

			margin-bottom: 0;
		}

		.entry-content {
			p {
				margin-bottom: 5px;
			}
		}

		.more-link {
			@include font-open-sans( semibold );

			$bg: #8c8c8c;

			display: block;
			text-decoration: none;
			background-color: $bg;
			padding: 10px 20px;
			// margin-top: 15px;
			position: absolute;
			left: $grid-gutter-width/2;;
			bottom: 0;
			color: #fff;

			&:hover {
				background-color: rgba( $bg, .9 );
			}
		}
	}

}
.post-popup-description {
	@include clearfix;

	$r: 60px;
	$w: $window-border;
	$gallery: 264px;

	background-color: #fff;
	padding-bottom: $w;

	&.has-gallery {
		.post-popup-content-wrapper {
			float: right;
			width: 40%;
			// margin-left: -$gallery;
			// padding-left: $gallery + $w;
		}

		.post-popup-gallery-main {
			float: left;
			// width: $gallery;
			width: 60%;
			padding-right: $w;
		}
	}

	.post-popup-header {
		border-bottom: 1px solid #e5e5e5;
		margin-left: -$w;
		margin-right: -$w;
		padding-left: $w;
		padding-right: $w;
		padding-top: 15px;
		padding-bottom: 18px;
		position: relative;
		margin-bottom: $w;

		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 1px;
			background-color: #e5e5e5;
			top: 0;
			right: $r;
		}
	}

	.post-popup-title {
		@include font-open-sans( bold );
		
		font-size: 20px;
	}

	.post-popup-close {
		@include opacity( .7 );
		@include font-open-sans;

		width: $r;
		height: $r;
		text-align: center;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 38px;
		line-height: 56px;
		transition: opacity .4;
		padding: 0;

		&:hover {
			@include opacity( 1 );
		}
	}

	.post-popup-price {
		position: absolute;
		right: $r + $w;
		top: 15px;
		padding: 4px 5px 4px 10px;
		font-size: 16px;

		p {
			margin: 0;
		}
	}

	.post-popup-gallery {
		margin-bottom: $w;
	}

	.wpcf7-form {
		max-width: 464px;

		.form-item-name,
		.form-item-email {
			position: relative;
			float: left;
			margin-bottom: $window-border;
			width: 50%;

			.wpcf7-not-valid-tip {
				display: none;
				position: absolute;
				top: -35px;
				left: 0;
				font-size: 12px;
				color: #bf4422;
			}
		}

		.form-item-submit {
			clear: both;
			position: relative;

			.ajax-loader {
				position: absolute;
				top: 22px;
				right: 20px;
			}
		}

		.form-item-name {
			padding-right: $window-border;
		}
	}

}

