#section-advantages {
	.section-title {
		margin-bottom: 70px;
	}
	.advantage-item {
		padding-left: 48px + $grid-gutter-width/2;
		position: relative;
		margin-bottom: 80px;

		&:before {
			content: '';
			display: block;
			height: 48px;
			width: 36px;
			position: absolute;
			left: $grid-gutter-width/2;
			top: -1px;
		}

		@each $icon in raketa, star, square-v, paper, money, check {
			&.#{$icon} {
				&:before {
					@include sprite-svg( front-#{$icon} );
				}
			}
		}

		.title {
			@include font-open-sans( bold );

			margin-bottom: 10px;
		}
	}
}