#section-advantages-2 {
	padding-bottom: 30px;

	.section-title {
		margin-bottom: 70px;
	}
	.advantage-item {
		padding-left: 40px + $grid-gutter-width/2;
		padding-right: 40px + $grid-gutter-width/2;
		position: relative;
		margin-bottom: 60px;

		&:before {
			content: '';
			display: block;
			height: 48px;
			width: 36px;
			position: absolute;
			left: $grid-gutter-width/2;
			top: -1px;
		}

		@each $icon in raketa, star, square-v, paper, money, check {
			&.#{$icon} {
				&:before {
					@include sprite-svg( front-#{$icon} );
				}
			}
		}

		.title {
			@include font-open-sans( semibold );

			margin-bottom: 12px;
			font-size: 18px;
		}

		p {
			margin-bottom: 8px;
		}
	}

	.button-block {
		padding-top: 20px;
		text-align: center;
	}

	@include screen( tablet ) {
		.advantage-item {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}
	}
	@include screen( phone ) {
		.section-title {
			margin-bottom: 30px;
		}
		.advantage-item {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
			width: 100%;
			margin-bottom: 20px;
			border-bottom: 1px solid #F0F0F0;
			padding-bottom: 15px;

			ul {
				margin-bottom: 8px;
			}
		}
		// .button-block {
		// 	button {
		// 		font-size: 16px;
		// 	}
		// }
	}
}