#section-description {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
	color: #fff;
	text-align: center;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( 27,38,21, .83 );
	}
	.section-title {
		margin-bottom: 30px;

		&:before,
		&:after {
			background-color: #fff;
		}

		b {
			text-decoration: underline;
		}
	}

	.section-text {
		line-height: 2;
		font-size: 18px;

		p {
			margin-bottom: 5px;
		}
	}
}