#section-how-we-work {
	.section-title {
		margin-bottom: 50px;
	}
	
	.section-data-item {
		position: relative;

		&:before {
			content: '';
			width: 128px;
			height: 128px;
			display: block;
			margin: 0 auto;
		}

		&:after {
			@include font-awesome;

			content: '\f054';
			display: inline-block;
			position: absolute;
			left: -8px;
			top: 40px;
			// color: #1e79ce;
			font-size: 30px;
		}

		&:first-child {
			&:after {
				display: none;
			}
		}

		@each $step in phone, meter, build {
			&.#{$step} {
				&:before {
					@include sprite-svg( work-#{$step} );
				}
			}
		}

		.title {
			@include font-open-sans( bold );

			// color: #1e79ce;
			font-size: 16px;
			text-align: center;
			margin-bottom: 15px;
			margin-top: 30px;
		}

		.content {
			p {
				margin-bottom: 10px;
			}
		}
	}

	.button-block {
		padding-top: 40px;
		text-align: center;

		.button {
			font-size: 22px;
		}
	}

	@include screen( phone ) {
		.section-data-item {
			&:before {
				width: 70px;
				height: 70px;
			}
			&:after {
				display: none;
			}
		}
		.button-block {
			.button {
				font-size: 16px;
			}
		}
	}
}