.section-products {
	.section-title {
		margin-bottom: 10px;
	}
	.row-flex {
		justify-content: center;
	}
	
	.hentry {
		@include clearfix;

		margin-bottom: 20px;
		margin-top: 50px;
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		width: 100%;

		.entry-thumbnail {
			margin-bottom: 3px;

			a {
				cursor: zoom-in;
				display: block;
				position: relative;
				overflow: hidden;

				&:before {
					@include sprite-svg( icon-zoom-in-2 );

					content: '';
					display: block;
					width: 20px;
					height: 20px;
					z-index: 2;	
					bottom: 4px;
					right: 4px;	
					position: absolute;
					background-size: cover;
				}

				&:after {
					z-index: 1;
					content: '';
					display: block;
					position: absolute;
					background-color: rgba( #000, .5 );
					width: 28px;
					height: 28px;
					bottom: 0;
					right: 0;
				}
			}

			img {
				float: right;
			}
		}

		.entry-header {
			margin-bottom: 10px;
			position: relative;

			.edit-link {
				position: absolute;
				right: 0;
				top: 5px;
			}
		}

		.entry-title {
			@include font-open-sans( semibold );

			margin-bottom: 0;
		}

		.entry-content {
			p {
				margin-bottom: 5px;
			}
		}

		.entry-price {
			@include font-open-sans( semibold );

			text-align: right;
			font-size: 16px;
			padding-top: 6px;
		}

		.order-button-block {
			.button {
				font-size: 18px;
			}
		}

		.entry-block {
			padding-top: 5px;
		}

		.content-item {
			font-size: 14px;
			margin-bottom: 12px;
			border-bottom: 1px solid #F0F0F0;
			padding-bottom: 9px;

			.header {
				margin-bottom: 5px;
			}

			.table {
				display: table;
				width: 100%;

				.table-item {
					display: table-cell;
					text-align: right;

					&:first-child {
						text-align: left;
					}
				}
			}

			.title {
				font-weight: bold;
				font-size: 16px;
			}

			.value {
				text-align: right;
			}
		}

		.more-link {
			@include font-open-sans( semibold );

			$bg: #8c8c8c;

			display: block;
			text-decoration: none;
			background-color: $bg;
			padding: 10px 20px;
			// margin-top: 15px;
			// position: absolute;
			left: $grid-gutter-width/2;;
			bottom: 0;
			color: #fff;

			&:hover {
				background-color: rgba( $bg, .9 );
			}
		}

		.order-button-block {
			text-align: center;
		}
	}
	@include screen( tablet-up ) {
		.hentry {
			width: (100%/3);
		}
	}

	@include screen( tablet ) {
		.row-flex {
			display: block;
		}
		.hentry {
			$w: 358px;
			$h: 238px;
			$pt: 8px;
			position: relative;
			padding-left: $w + $grid-gutter-width;
			min-height: $h + $pt + 10 + 52;

			.entry-thumbnail {
				position: absolute;
				top: 8px;
				left: $grid-gutter-width/2;
			}
			.entry-title {
				br {
					display: none;
				}
			}
			.order-button-block {
				position: absolute;
				top: $h + $pt + 10;
				left: $grid-gutter-width/2;
				width: $w;

				.button {
					width: 100%;
				}
			}
			.content-item {
				.table {
					.table-item {
						br + br {
							display: none;
						}
					}
				}
			}
		}
	}
	@include screen( phone ) {
		.hentry {
			.entry-title {
				br {
					display: none;
				}
			}
			.entry-thumbnail {
				.open-popup-gallery {
					max-width: 358px;
					margin: 0 auto;
					display: block;
				}
				img {
					float: none;
					display: block;
				}
			}
			.order-button-block {
				.button {
					font-size: 16px;
				}
			}
		}
	}
}
.post-popup-wrapper {
	@include clearfix;

	$r: 60px;
	$w: $window-border;
	$gallery: 264px;

	background-color: #fff;
	padding-bottom: $w;

	&.wrapper {
		max-width: 464px + $w * 2;
	}

	.post-popup-header {
		border-bottom: 1px solid #e5e5e5;
		margin-left: -$w;
		margin-right: -$w;
		padding-left: $w;
		padding-right: $w;
		padding-top: 15px;
		padding-bottom: 18px;
		position: relative;
		margin-bottom: $w;

		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 1px;
			background-color: #e5e5e5;
			top: 0;
			right: $r;
		}
	}

	.post-popup-title {
		@include font-open-sans( bold );
		
		font-size: 20px;
	}

	.post-popup-close {
		@include opacity( .7 );
		@include font-open-sans;

		width: $r;
		height: $r;
		text-align: center;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 38px;
		line-height: 56px;
		transition: opacity .4;
		padding: 0;

		&:hover {
			@include opacity( 1 );
		}
	}

	.wpcf7-form {
		max-width: 464px;

		.form-item-name,
		.form-item-email {
			position: relative;
			float: left;
			margin-bottom: $window-border;
			width: 50%;

			.wpcf7-not-valid-tip {
				display: none;
				position: absolute;
				top: -35px;
				left: 0;
				font-size: 12px;
				color: #bf4422;
			}

			@include screen( phone ) {
				width: 100%;
				padding-right: 0 !important;
			}
		}

		.form-item-submit {
			clear: both;
			position: relative;

			.ajax-loader {
				position: absolute;
				top: 22px;
				right: 20px;
			}
		}

		.form-item-name {
			padding-right: $window-border;
		}

	}

	.thank-message {
		font-size: 20px;
		text-align: center;

		.green {
			color: #46994c;
		}
	}

}

