#section-sections {
	background-color: #f0f0f0;

	.section-title {
		margin-bottom: 0;
	}
	.hentry {
		text-align: center;
		margin-top: 50px;

		.entry-title {
			font-size: 18px;
			max-width: 264px;
			margin: 6px auto 0;

			&:after {
				content: '';
				display: block;
				margin: 10px auto 0;
				height: 1px;
				width: 40px;
				background-color: #6B6B6B;
			}
		}
	}

	// .hentry-inn {
	// 	border: 1px solid #bfbfbf;
	// }
}