#section-top {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

	.wrapper {
		$h: 530px;

		height: $h;
		margin-top: -$h;
		display: table;
		z-index: 10;
	}

	.section-content {
		display: table-cell;
		vertical-align: middle;
	}

	.section-content-inn {
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: 70px;
		padding-bottom: 60px;
		color: #fff;

		h2 {

		}
	}

	.section-title {
		@include font-open-sans( extrabold );
		
		color: #fff;
		margin-bottom: 15px;
	}

	@include screen( phone ) {
		.wrapper {
			$h: 400px;

			height: $h;
			margin-top: -$h;
		}
		.section-content-inn {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}

.section-top-carousel {
	.owl-slide {
		width: 100%;
		height: 530px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		@include screen( phone ) {
			height: 400px;
		}
	}
}