@font-face{
	font-family: FontAwesome;
	src: url(../fonts/awesome/fontawesome-webfont.eot?v=4.6.3);
	src: url(../fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'),
		url(../fonts/awesome/fontawesome-webfont.woff2?v=4.6.3) format('woff2'),
		url(../fonts/awesome/fontawesome-webfont.woff?v=4.6.3) format('woff'),
		url(../fonts/awesome/fontawesome-webfont.ttf?v=4.6.3) format('truetype'),
		url(../fonts/awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');

	font-weight: 400;
	font-style: normal;
}

@mixin font-awesome() {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
}