//
// Grid system
// --------------------------------------------------


.row-inline > * {
	display: inline-block;
	vertical-align: top;
	float: none;
}

.row-flex {
	align-items: stretch;
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	justify-content: flex-start;

	html.no-flexbox & > * {
		display: inline-block;
		vertical-align: top;
		float: none;
	}

	&:before {
		display: none;
	}
}

@include screen( lg ) {
	.col-lg-20-persents {
		width: 20%;
	}
}

@include screen( md ) {
	.col-md-20-persents {
		width: 20%;
	}
}

@include screen( sm ) {
	.col-sm-20-persents {
		width: 20%;
	}
}

@include screen( xs ) {
	.col-xs-20-persents {
		width: 20%;
	}
}