$wrapper: 1160px;

$tablet-min: 768px;
$tablet-max: 1024px;

$btn-default-color: #fff;

$color-navy: #064360;
$color-blue: #1985b2;
$color-orange: #FF8A00;
$color-blue-light: #22a6cc;
$color-grey: rgb(38, 38, 38);
$color-gray: $color-grey;

$color-text: $color-gray;
$color-link: $color-gray;

$color-title: #3e3e3e;


$admin-bar: 32px;
$admin-bar-mobile: 46px;

$window-border: 20px;

$grid-gutter-width: 40px;

$desktop-content-top: 120px;
$desktop-content-bottom: 157px;

$mobile-content-top: 66px;
$mobile-content-bottom: 117px;


$line-height: 1.42857;
// $line-height: 1.3;
$font-size: 16px;

$mobile-menu-width: 200 + $window-border * 2;

$images_path: "../images";


// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (930px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              0;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-xs;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-sm;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-md;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-xs - 1);
$screen-sm-max:              ($screen-sm - 1);
$screen-md-max:              ($screen-md - 1);