#site-header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	// min-width: 1200px;
	background-color: #fff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

	.wrapper {
		height: 72px;
	}

	.header-price-link {
		@include transition(all 0.2s ease-in-out);

		position: absolute;
		right: $window-border;
		top: 15px;
		border: 1px solid #b3b3b3;
		display: block;
		padding: 10px;
		text-decoration: none;

		&:hover {
			background-color: #b3b3b3;
			color: #fff;
		}
	}

	.header-contacts {
		position: absolute;
		top: 17px;
		// top: 6px;
		// right: 200px;
		font-size: 14px;
		right: $window-border;

		$size: 32px;

		&:before {
			@include sprite-svg( header-phone );

			content: '';
			display: block;
			width: $size;
			height: $size;
			position: absolute;
			top: 5px;
			// top: 15px;
			left: -48px;
			z-index: 10;
			animation: phone .9s ease-in-out infinite;
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: $size + 20;
			height: $size + 20;
			border: 2px solid #70bd45;
			// background-color: #70bd45;
			border-radius: 50%;
			top: -5px;
			left: -58px;
		}

		a {
			text-decoration: none;
			display: inline-block;
			position: relative;
			padding-right: 22px;

			&:hover {
				text-decoration: underline;
			}

			&.mts {
				&:after {
					@include background-image-retina( 'icons/mts.png' );
				}
			}

			&.velcome {
				&:after {
					@include background-image-retina( 'icons/velcome.png' );
				}
			}

			&.mts,
			&.velcome {
				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 3px;
					display: block;
					width: 16px;
					height: 16px;
				}
			}
		}

		p {
			margin: 0;
		}
	}

	#site-logo {
		position: absolute;
		top: 20px;
		left: $window-border;

		a {
			text-decoration: none;
		}

		img {
			width: 136px;
			height: auto;
			display: block;
		}

		span {
			display: block;
			font-size: 10px;
			letter-spacing: 1px;
			color: #909716;
		}

		// padding-left: 44px;

		// .m {
		// 	position: absolute;
		// 	font-size: 45px;
		// 	top: -10px;
		// 	left: 0;
		// 	display: block;
		// }
		// .second {
		// 	letter-spacing: 2px;
		// }
	}

	@include screen( tablet ) {
		#site-logo {
			top: 15px;

			img {
				width: 100px;
			}
		}
	}
	@include screen( phone ) {
		position: absolute;

	}
	@include screen( 0, 410px ) {
		.header-contacts {
			&:before,
			&:after {
				display: none;
			}
		}
	}
}

@keyframes phone {
 0%, 100% {
  transform: rotate(-20deg);
 }
 50% {
  transform: rotate(21deg);
 }
}