// @include screen( 0, $tablet-max ) {
// 	body {
// 		// overflow-y: scroll;
// 		-webkit-overflow-scrolling: touch;

// 		// если используется scrollIt - нужно закомментить
// 		// &.mobile-menu-active {
// 		// 	overflow-y: hidden;
// 		// }
// 	}

// 	#page {
// 		transition: transform 0.5s ease-in-out;

// 		// used for stick footer to bottom
// 		// display: flex;
// 		// flex-direction: column;
// 		transform: translate3d( 0, 0, 0 );

// 		body.mobile-menu-active & {
// 			transform: translate3d(-$mobile-menu-width, 0, 0);
// 			overflow-x: hidden;

// 			// если используется scrollIt - нужно закомментить
// 			// height: 100%;
// 			// position: fixed;
// 			// bottom: 0;
// 			// left: 0;
// 			// right: 0;
// 		}
// 	}

// 	#mobile-nav-toggler-wrapper {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		width: 64px;
// 		height: 66px;
// 		// background: $color-navy;
// 		transition: background .3s;
// 		cursor: pointer;
// 		z-index: 100;

// 		body.mobile-menu-active & {
// 			// background-color: $color-navy;
// 		}
// 	}
// 	#mobile-nav-toggler {
// 		@include mobile-toggler-default( $color-navy );
// 	}

// 	#primary-navigation {
// 		@include mobile-menu-main-styles;

// 		// background-color: $color-bg-gray;
// 		// border: 1px solid $color-bg-gray;
// 		padding: 0;
// 	}
// }

// @include screen( phone ) {
// 	body.mobile-menu-active.admin-bar {
// 		#page {
// 			top: $admin-bar-mobile;
// 		}
// 		// #primary-navigation {
// 		// 	// padding-top: $admin-bar-mobile;
// 		// 	padding-top: 0;
// 		// }
// 	}
// }

// @include screen( sm, $tablet-max ) {
// 	body.mobile-menu-active.admin-bar {
// 		#page {
// 			top: $admin-bar;
// 		}
// 		#primary-navigation {
// 			padding-top: $admin-bar;
// 		}
// 	}
// }
