#primary-navigation {
	position: absolute;
	left: 165px;
	top: 20px;

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	ul {
		@include clearfix;
		@include no-lst;

		display: block;

		li {
			display: inline-block;
		}
	}

	a {
		text-decoration: none;
		display: block;
		padding: 5px 10px;

		&:hover,
		&.active {
			text-decoration: underline;
		}
	}
	@include screen( tablet ) {
		left: 10px;
		top: 42px;
		width: 100%;
		font-size: 13px;

		&:after {
			display: none;
		}
	}

	@include screen( phone ) {
		display: none;
	}
}