// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: map-get($icon-home, 'width');
// }
//
// At the bottom of this section, we provide information about the spritesheet itself
$slider-arrow-next-dark: (
  name: 'slider-arrow-next-dark',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 11px,
  height: 16px,
  total-width: 37px,
  total-height: 34px,
  image: '../images/sprites/common.png'
);
$slider-arrow-next: (
  name: 'slider-arrow-next',
  x: 13px,
  y: 0px,
  offset-x: -13px,
  offset-y: 0px,
  width: 11px,
  height: 16px,
  total-width: 37px,
  total-height: 34px,
  image: '../images/sprites/common.png'
);
$slider-arrow-prev-dark: (
  name: 'slider-arrow-prev-dark',
  x: 26px,
  y: 0px,
  offset-x: -26px,
  offset-y: 0px,
  width: 11px,
  height: 16px,
  total-width: 37px,
  total-height: 34px,
  image: '../images/sprites/common.png'
);
$slider-arrow-prev: (
  name: 'slider-arrow-prev',
  x: 0px,
  y: 18px,
  offset-x: 0px,
  offset-y: -18px,
  width: 11px,
  height: 16px,
  total-width: 37px,
  total-height: 34px,
  image: '../images/sprites/common.png'
);
$common: (
  width: 37px,
  height: 34px,
  image: '../images/sprites/common.png',
  sprites: ($slider-arrow-next-dark, $slider-arrow-next, $slider-arrow-prev-dark, $slider-arrow-prev, )
);


