// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: map-get($icon-home, 'width');
// }
//
// At the bottom of this section, we provide information about the spritesheet itself
$introducing-slide-frame-1x: (
  name: 'introducing-slide-frame@1x',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 370px,
  height: 304px,
  total-width: 472px,
  total-height: 642px,
  image: '../images/sprites/icons_1x.png'
);
$list-item-v-1x: (
  name: 'list-item-v@1x',
  x: 431px,
  y: 134px,
  offset-x: -431px,
  offset-y: -134px,
  width: 15px,
  height: 12px,
  total-width: 472px,
  total-height: 642px,
  image: '../images/sprites/icons_1x.png'
);
$plane-1x: (
  name: 'plane@1x',
  x: 412px,
  y: 134px,
  offset-x: -412px,
  offset-y: -134px,
  width: 17px,
  height: 16px,
  total-width: 472px,
  total-height: 642px,
  image: '../images/sprites/icons_1x.png'
);
$process-bar-man-1x: (
  name: 'process-bar-man@1x',
  x: 372px,
  y: 134px,
  offset-x: -372px,
  offset-y: -134px,
  width: 38px,
  height: 34px,
  total-width: 472px,
  total-height: 642px,
  image: '../images/sprites/icons_1x.png'
);
$terminal-image-frame-1x: (
  name: 'terminal-image-frame@1x',
  x: 0px,
  y: 306px,
  offset-x: 0px,
  offset-y: -306px,
  width: 279px,
  height: 336px,
  total-width: 472px,
  total-height: 642px,
  image: '../images/sprites/icons_1x.png'
);
$terminal-number-1x: (
  name: 'terminal-number@1x',
  x: 372px,
  y: 0px,
  offset-x: -372px,
  offset-y: 0px,
  width: 100px,
  height: 132px,
  total-width: 472px,
  total-height: 642px,
  image: '../images/sprites/icons_1x.png'
);
$icons-1x: (
  width: 472px,
  height: 642px,
  image: '../images/sprites/icons_1x.png',
  sprites: ($introducing-slide-frame-1x, $list-item-v-1x, $plane-1x, $process-bar-man-1x, $terminal-image-frame-1x, $terminal-number-1x, )
);


