// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: map-get($icon-home, 'width');
// }
//
// At the bottom of this section, we provide information about the spritesheet itself
$introducing-slide-frame: (
  name: 'introducing-slide-frame',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 740px,
  height: 608px,
  total-width: 942px,
  total-height: 1282px,
  image: '../images/sprites/icons_2x.png'
);
$list-item-v: (
  name: 'list-item-v',
  x: 855px,
  y: 266px,
  offset-x: -855px,
  offset-y: -266px,
  width: 30px,
  height: 24px,
  total-width: 942px,
  total-height: 1282px,
  image: '../images/sprites/icons_2x.png'
);
$plane: (
  name: 'plane',
  x: 820px,
  y: 266px,
  offset-x: -820px,
  offset-y: -266px,
  width: 33px,
  height: 32px,
  total-width: 942px,
  total-height: 1282px,
  image: '../images/sprites/icons_2x.png'
);
$process-bar-man: (
  name: 'process-bar-man',
  x: 742px,
  y: 266px,
  offset-x: -742px,
  offset-y: -266px,
  width: 76px,
  height: 68px,
  total-width: 942px,
  total-height: 1282px,
  image: '../images/sprites/icons_2x.png'
);
$terminal-image-frame: (
  name: 'terminal-image-frame',
  x: 0px,
  y: 610px,
  offset-x: 0px,
  offset-y: -610px,
  width: 558px,
  height: 672px,
  total-width: 942px,
  total-height: 1282px,
  image: '../images/sprites/icons_2x.png'
);
$terminal-number: (
  name: 'terminal-number',
  x: 742px,
  y: 0px,
  offset-x: -742px,
  offset-y: 0px,
  width: 200px,
  height: 264px,
  total-width: 942px,
  total-height: 1282px,
  image: '../images/sprites/icons_2x.png'
);
$icons-2x: (
  width: 942px,
  height: 1282px,
  image: '../images/sprites/icons_2x.png',
  sprites: ($introducing-slide-frame, $list-item-v, $plane, $process-bar-man, $terminal-image-frame, $terminal-number, )
);


