#site-footer {
	background-color: #6B6B6B;
	color: #fff;
	padding-bottom: 23px;
	padding-top: 23px;
	text-align: center;
	position: relative;

	@include screen( 0px, sm ) {			
		padding-bottom: 20px;
		padding-top: 20px;	
	}

	
}